.vs/supremacy_csgo/FileContentIndex/b26e821c-6537-486a-99ee-6e32f96dd6e2.vsidx
.vs/supremacy_csgo/FileContentIndex/d3c5bc7a-4e27-4625-bb50-413b8574ec9e.vsidx
.vs/supremacy_csgo/v17/.suo
.vs/supremacy_csgo/v17/Browse.VC.db
.vs/supremacy_csgo/v17/DocumentLayout.backup.json
.vs/supremacy_csgo/v17/DocumentLayout.json
.vs/supremacy_csgo/v17/fileList.bin
.vs/supremacy_csgo/v17/ipch/AutoPCH/5d1b3d45d7cc41a6/SHOTS.ipch
.vs/supremacy_csgo/v17/ipch/AutoPCH/751c88875c33b38b/SHOTS.ipch
.vs/supremacy_csgo/v17/ipch/AutoPCH/b3df4f331a3e58c5/SHOTS.ipch
.vs/secreto/FileContentIndex/63638423-2214-43cd-b5c7-63585a2858c9.vsidx
.vs/secreto/v17/.suo
.vs/secreto/v17/Browse.VC.db
.vs/secreto/v17/Browse.VC.db-shm
.vs/secreto/v17/Browse.VC.db-wal
.vs/secreto/v17/Browse.VC.opendb
.vs/secreto/v17/DocumentLayout.json
.vs/secreto/v17/ipch/AutoPCH/1933b50cc09a8612/GUI.ipch
.vs/secreto/v17/ipch/AutoPCH/359279efcae8f251/AIMBOT.ipch
.vs/secreto/v17/ipch/AutoPCH/c51929ee804071d3/AIMBOT.ipch
.vs/secreto/v17/ipch/AutoPCH/ef930cf42ea4f5c/VISUALS.ipch
