.vs/supremacy_csgo/FileContentIndex/bc45c529-c473-4e7d-9cd1-d1da75ce6388.vsidx
.vs/supremacy_csgo/v17/.suo
.vs/supremacy_csgo/v17/Browse.VC.db
.vs/supremacy_csgo/v17/Browse.VC.db-shm
.vs/supremacy_csgo/v17/Browse.VC.db-wal
.vs/supremacy_csgo/v17/Browse.VC.opendb
.vs/supremacy_csgo/v17/DocumentLayout.backup.json
.vs/supremacy_csgo/v17/DocumentLayout.json
.vs/supremacy_csgo/v17/ipch/AutoPCH/5d1b3d45d7cc41a6/SHOTS.ipch
.vs/supremacy_csgo/v17/ipch/AutoPCH/b3df4f331a3e58c5/SHOTS.ipch
